/* =============================
  KBFGText
============================= */
/* KBFGTextL : 300 */
@font-face {
  font-family: 'KBFGText';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('KBFGTextL'), local('KBFGTextL'),
    url('../fonts/KBFGTextL.eot') format('eot'),
    url('../fonts/KBFGTextL.woff') format('woff'),
    url('../fonts/KBFGTextL.otf') format('opentype');
}

/* KBFGTextM : 500 */
@font-face {
  font-family: 'KBFGText';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('KBFGTextM'), local('KBFGTextM'),
    url('../fonts/KBFGTextM.eot') format('eot'),
    url('../fonts/KBFGTextM.woff') format('woff'),
    url('../fonts/KBFGTextM.otf') format('opentype');
}

/* KBFGTextB : 700 */
@font-face {
  font-family: 'KBFGText';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('KBFGTextB'), local('KBFGTextB'),
    url('../fonts/KBFGTextB.eot') format('eot'),
    url('../fonts/KBFGTextB.woff') format('woff'),
    url('../fonts/KBFGTextB.otf') format('opentype');
}

