//공통 레이아웃
.kb-wrap{
  min-width: 128rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: var(--background-color);
  &.sidebar-off {
    .kb-sidebar {
      transform: translateX(-100%);
    }
    .kb-content,
    .kb-footer {
      margin-left: 0 !important;
    }
    .kb-content{
      .kb-page-title{
        &>div {
          left: 0;
        }
      }
    }
  }
}

.kb-content{
  margin-left: 26rem;
  padding: 6.4rem 3.2rem 3.2rem;
  transition: .3s margin cubic-bezier(0.075, 0.82, 0.165, 1);
  .kb-page-title{
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    width: 100%;
    .page-tit{
      font-size:2.2rem;
      line-height: 3.4rem;
      font-weight: 700;
      color:var(--gray_01_black);
    }
    .kb-title{
      width: 100%;
      display: flex;
      align-items: center;
    }
    & > div {
      display: flex;
      background: var(--background-color);
      align-items: center;
      justify-content: space-between;
      transition: left 0.3s, height 0.3s;
      left: 26rem;
    }
    &.fixed>div{
      position: fixed;
      top: 6.4rem;
      left: 26rem;
      right: 3.2rem;
      z-index: 1006;
      height: 4.125rem;
      background-color: var(--background-color);
      .page-tit {
        padding-left: 3.2rem;
      }
    }
    .breadcrumb {
      text-align: right;
      font-size: 0;
      li {
        display: inline-block;
        padding-left:2.4rem;
        font-size: 1.4rem;
        position: relative;
        color: #666;
        &::before{
          content:'';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 2.4rem;
          height: 2.4rem;
          background-size: 100% auto;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 17L14.7879 12.2121C14.905 12.095 14.905 11.905 14.7879 11.7879L10 7' stroke='%23999999' stroke-linecap='round'/%3E%3C/svg%3E");
        }
        a{
          color:inherit;
          line-height: 2.4rem;
          font-weight: 300;
          
        }
        &.active{
          color: var(--gray_01_black);
          font-weight: 500;
        }
        &:first-child{
          padding-left: 0;
          &::before {
            content:none;
          }
        }
      }
    }
  }
  
}

.kb-content-box{
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.05);
  padding: 2.4rem;
  & + .kb-content-box{
    margin-top: 1.6rem;
  }
}