//form
.form-item{
  input[type="text"],
  input[type="password"]{
    border-radius: 0.3rem;
    border: 0.1rem solid transparent;
    border-color: #ddd;
    padding: 0.6rem 1.2rem;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    appearance: none;
    &::placeholder{
      color:#999;
    }
    &:hover{
      border-color: var(--primary-blue-color);
    }
    &:focus{
      outline: none;
      border-color: var(--gray_02-darkBlue);
    }
    &:disabled{
      background-color: var(--background-color);
    }
  }
  .select{
    select{
      border-radius: 0.3rem;
      min-width: 16rem;
      border: 0.1rem solid transparent;
      border-color: #ddd;
      padding: 0.6rem 2.4rem 0.6rem 1.2rem;
      appearance: none;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 10L11.7879 14.7879C11.905 14.905 12.095 14.905 12.2121 14.7879L17 10' stroke='%23999999' stroke-linecap='round'/%3E%3C/svg%3E");
      option[value=""][disabled] {
        display: none;
      }
      &:hover{
        border-color: var(--primary-blue-color);
      }
      &:focus{
        outline: none;
        border-color: var(--gray_02-darkBlue);
      }
      &:disabled{
        background-color: var(--background-color);
      }
    }
  }

  .is-error {
    input[type="text"],
    input[type="password"]{
      border-color: var(--error-color);
      &:focus{
        border-color: var(--error-color);
      }
    }  
  }
}

.validate-txt {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;

  &.is-error {
    color: var(--error-color);
    border-color: var(--error-color);
  }

  &.is-success {
    color: var(--primary-blue-color);
  }
}